server:
  port: 8003

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
    register-with-eureka: true
    fetch-registry: true

spring:
  application:
    name: tweetle-user-service
  security:
    oauth2:
      resource server:
        jwt:
          issuer-uri: https://dev-vkjc2qc55bwr1ikt.eu.auth0.com/
          audiences: https://tweetle/api

  datasource:
    url: jdbc:postgresql://user-postgres:5432/userdb?createDatabaseIfNotExist=true&autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: UTC
    show-sql: true

  sql:
    init:
      platform: postgres

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: admin
    password: admin

rabbitmq:
  exchange:
    name: tweetle.exchange

auth0:
  domain: ${AUTH0_DOMAIN:dev-vkjc2qc55bwr1ikt.eu.auth0.com}
  clientId: ${AUTH0_CLIENT_ID:jqnVIuJ5fy7q3nV28BuYf7dgpGQUut52}
  clientSecret: ${AUTH0_CLIENT_SECRET:Ox3DtIPhfzuxz3jqKVyvMnzdGrmm_rttFlJdZiY0i-1H1Pcr7APNWRm0ODJ5p5tK}
  audience: ${AUTH0_AUDIENCE:https://tweetle/api}

management:
  endpoints:
    web:
      exposure:
        include: "prometheus"
  endpoint:
    prometheus:
      enabled: true
