server:
  port: 8003

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true

spring:
  application:
    name: tweetle-user-service
  security:
    oauth2:
      resource server:
        jwt:
          issuer-uri: https://dev-vkjc2qc55bwr1ikt.eu.auth0.com/
          audiences: https://tweetle/api

  datasource:
    url: jdbc:postgresql://localhost:5432/userdb
    username: root
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

rabbitmq:
  exchange:
    name: tweetle.exchange

auth0:
  domain: ${AUTH0_DOMAIN:dev-vkjc2qc55bwr1ikt.eu.auth0.com}
  clientId: ${AUTH0_CLIENT_ID:1QBuFA0swaBSIZre7jdVCKXuxpiwtPha}
  clientSecret: ${AUTH0_CLIENT_SECRET:AhZf9m8r4suV88IZkR8DqEDD735PATl9BlxJcwjJEIEGjG8OEqMO_Ge-YWfv9RR1}
  audience: ${AUTH0_AUDIENCE:https://dev-vkjc2qc55bwr1ikt.eu.auth0.com/api/v2/}

management:
  endpoints:
    web:
      exposure:
        include: "prometheus"
  endpoint:
    prometheus:
      enabled: true
